In [26]:
students={"subjects":{"math","Science","english"}}
print(students["subjects"])
students={"garde":{"A","B"}}

{'math', 'english', 'Science'}

In [27]:
print(students)

{'garde': {'A', 'B'}}

In [28]:
students={"id":101,"name":"Alice","age":23,"grade":"A"}

In [29]:
new_student={}
for key,value in students.items():
    new_student[key]=value
    if key=="name":
        new_student["city"]="pune"

print(new_student)

{'id': 101, 'name': 'Alice', 'city': 'pune', 'age': 23, 'grade': 'A'}

In [30]:
new_students1={
    **{k:students[k] for k in list(students)[:2]},
    "city":"pune",
    **{k:students[k] for k in list(students)[2:]}
}
print(new_students1)

{'id': 101, 'name': 'Alice', 'city': 'pune', 'age': 23, 'grade': 'A'}

In [31]:
new_students1={
    
    **{k:students[k] for k in list(students)[:2]},
    "city":"pune",
    **{k:students[k] for k in list(students)[2:]}
}
print(new_students1)

{'id': 101, 'name': 'Alice', 'city': 'pune', 'age': 23, 'grade': 'A'}

In [32]:
students["age"]=24
print(students)

{'id': 101, 'name': 'Alice', 'age': 24, 'grade': 'A'}

In [33]:
del students["grade"]
print("after delete",students)

after delete {'id': 101, 'name': 'Alice', 'age': 24}

In [36]:
students={
    101:{"name":"YASH","age":22,"Dept":"IT"},
    102:{"name":"ASH","age":12,"Dept":"CSE"},
    103:{"name":"kSH","age":24,"Dept":"ENTC"}
}

In [38]:
print(students[101]["Dept"])

IT

In [39]:
print(students)

{101: {'name': 'YASH', 'age': 22, 'Dept': 'IT'}, 102: {'name': 'ASH', 'age': 12, 'Dept': 'CSE'}, 103: {'name': 'kSH', 'age': 24, 'Dept': 'ENTC'}}

In [44]:
for id,info in students.items():
    print(f"ID:{id}=>Name:{info['name']}")

ID:101=>Name:YASH
ID:102=>Name:ASH
ID:103=>Name:kSH

In [52]:
marks={"math":85,"science":90,"english":78,"physics":12}

In [53]:
print(len(marks))

4

In [54]:
if "math" in marks:
    print("math is is present ")
else :

    print("not present")

math is is present

sortting with value Ascending value

In [55]:
sorted_by_keys=dict(sorted(marks.items()))
sorted_by_keys

{'english': 78, 'math': 85, 'physics': 12, 'science': 90}

sorting with value in Descnding order

In [58]:
sort_by_value=dict(sorted(marks.items(),key=lambda x:x[1],reverse=True))
sort_by_value

{'science': 90, 'math': 85, 'english': 78, 'physics': 12}