10

In [ ]:
n=int(input("Enter the Number of Employees to enter"))

dict_emp={}
for i in range(n):
    skills=[]
    
    name=""
    name=input("enter the name employees")
    skills=input("enter the skills of employee").split(",")
    dict_emp[name]=skills
print(dict_emp)

{'yash': ['cpp', 'python', 'java'], 'harshal': ['sql', 'java', 'cpp'], 'prajwal': ['cpp', 'python', 'sql']}

1.	Display all employees who know both ‘Python’ and ‘SQL’

In [24]:
for key,value in dict_emp.items():
    if("python"in value and"sql" in value ):
        print(key)

prajwal

2.	Find and print the unique skills available across all employees (using sets).

In [28]:
set1=set()
for key,value in dict_emp.items():
    set1.update(value)

In [29]:
print(set1)

{'python', 'sql', 'java', 'cpp'}

3.	Identify how many employees share at least one skill with a specific employee entered by the user.

In [36]:
str1=[]
skills=int(input("enter the no. skill you req"))
for i in range(skills):
    str1.append(input("enter the skills"))
for key,value in dict_emp.items():
    for skill in str1:
        if skill in value:
            print(key)

yash
harshal