In [1]:
## 1. Create a dictionary with 5 students and their marks.
dict_stu={"ajay":89,"jay":78,"vijay":56,"sanjay":45,"yash":82}
print(dict_stu)

{'ajay': 89, 'jay': 78, 'vijay': 56, 'sanjay': 45, 'yash': 82}

In [2]:
## 2. Print the value of a specific student using their name as key.
print("the marks of yash is :",dict_stu["yash"])

the marks of yash is : 82

In [3]:
# 3. Add a new student with marks to the dictionary.
dict_stu["ram"]=90
print(dict_stu)

{'ajay': 89, 'jay': 78, 'vijay': 56, 'sanjay': 45, 'yash': 82, 'ram': 90}

In [4]:
# 4. Update the marks of an existing student.
dict_stu["yash"]=90

print(dict_stu)

{'ajay': 89, 'jay': 78, 'vijay': 56, 'sanjay': 45, 'yash': 90, 'ram': 90}

In [5]:
# 5. Delete a student from the dictionary.
del dict_stu["ram"]
print(dict_stu)

{'ajay': 89, 'jay': 78, 'vijay': 56, 'sanjay': 45, 'yash': 90}

In [16]:
# 6. Print all student names using keys().
print(dict_stu.keys())

dict_keys(['ajay', 'jay', 'vijay', 'sanjay', 'yash'])

In [17]:
# 7. Print all student marks using values().
print(dict_stu.values())

dict_values([89, 78, 56, 45, 90])

In [18]:
# 8. Print all student names with their marks using items().
for key,value in dict_stu.items():
    print(f"{key} marks are:{value}")

ajay marks are:89
jay marks are:78
vijay marks are:56
sanjay marks are:45
yash marks are:90

In [25]:
# 9. Check if a specific student is in the dictionary.
print("Is yash is in dictionary :","yash" in dict_stu.keys())

Is yash is in dictionary : True

In [20]:
# 10. Check if a specific mark is present in the dictionary values.
print("Is 90 is in dictionary values : ",90 in dict_stu.values())

Is 90 is in dictionary values :  True

In [26]:
# 11. Use get() to fetch a student's marks safely.
print("marks of vijay using get():",dict_stu.get("vijay"))

marks of vijay using get(): 56

In [27]:
# 12. Create a dictionary of employees with their departments.
dict_emp={"ajay":"HR","vijay":"Finance","sanjay":"IT","yash":"IT"}

In [28]:
# 13. Access the department of a specific employee.
print("DEpt of yash is :",dict_emp["yash"])

DEpt of yash is : IT

In [30]:
# 14. Add a new employee and department.
dict_emp["ram"]="Marketing"
print(dict_emp)

{'ajay': 'HR', 'vijay': 'Finance', 'sanjay': 'IT', 'yash': 'IT', 'ram': 'Marketing'}

In [32]:
# 15. Change the department of an existing employee.
dict_emp["ram"]="Sales"
print(dict_emp)

{'ajay': 'HR', 'vijay': 'Finance', 'sanjay': 'IT', 'yash': 'IT', 'ram': 'Sales'}

In [ ]:
# 16. Remove an employee from the dictionary.
del dict_emp["vijay"]
print(dict_emp)

{'ajay': 'HR', 'sanjay': 'IT', 'yash': 'IT', 'ram': 'Sales'}

In [36]:
# 17. Sort the employee dictionary by employee names in ascending order.
print(dict(sorted(dict_emp.items(),key=lambda x:x[0])))

{'ajay': 'HR', 'ram': 'Sales', 'sanjay': 'IT', 'yash': 'IT'}

In [37]:
# 18. Sort the employee dictionary by department names in ascending order.
print(dict(sorted(dict_emp.items(),key=lambda x:x[1])))

{'ajay': 'HR', 'sanjay': 'IT', 'yash': 'IT', 'ram': 'Sales'}

In [ ]:
# 19. Sort the employee dictionary by names in descending order.
print(dict(sorted(dict_emp.items(),key=lambda x:x[0],reverse=True)))

{'yash': 'IT', 'sanjay': 'IT', 'ram': 'Sales', 'ajay': 'HR'}

In [39]:
## 20. Sort the employee dictionary by department in descending order.
print(dict(sorted(dict_emp.items(),key=lambda x:x[1],reverse=True)))

{'ram': 'Sales', 'sanjay': 'IT', 'yash': 'IT', 'ajay': 'HR'}

In [42]:
# 21. Find all keys that have a specific value in a dictionary.
print("Employees in IT dept:",[key for key,value in dict_emp.items() if value=="IT" ])

Employees in IT dept: ['sanjay', 'yash']

In [44]:
# 22. Count how many students scored above 80 marks.
cnt=0
for key,value in dict_stu.items():
    if value>80:
        cnt+=1
print("Number of students scored above 80 marks:",cnt)

Number of students scored above 80 marks: 2

In [47]:
# 23. Create a nested dictionary for 3 students with age, grade, and department.
dict_nested={
    "ajay":{"age":20,"grade":"A","department":"IT"},
    "vijay":{"age":21,"grade":"B","department":"ENTC"},
    "sanjay":{"age":22,"grade":"C","department":"MECH"}
}
print(dict_nested)

{'ajay': {'age': 20, 'grade': 'A', 'department': 'IT'}, 'vijay': {'age': 21, 'grade': 'B', 'department': 'ENTC'}, 'sanjay': {'age': 22, 'grade': 'C', 'department': 'MECH'}}

In [49]:
# 24. Access the grade of a student from the nested dictionary.
print("Grade  of ajays is :",dict_nested["ajay"]["grade"])

Grade  of ajays is : A

In [51]:
# 25. Update the department of a student in the nested dictionary.
dict_nested["ajay"]["grade"]="O"
print("Grade  of ajays is :",dict_nested["ajay"]["grade"])

Grade  of ajays is : O

In [52]:
# 26. Loop through the nested dictionary and print student names with their grades.
for key,value in dict_nested.items():
    print(f"{key} Are Scored grade is :{value["grade"]}")

ajay Are Scored grade is :O
vijay Are Scored grade is :B
sanjay Are Scored grade is :C

In [54]:
# 27. Merge two dictionaries of students into one.
dict_stu2={"rahul":75,"deepak":85}
dict_stu.update(dict_stu2)
print(dict_stu)

{'ajay': 89, 'jay': 78, 'vijay': 56, 'sanjay': 45, 'yash': 90, 'rahul': 75, 'deepak': 85}

In [55]:
# 28. Clear all entries in a dictionary.
del dict_stu2
print(dict_stu2)

NameError: name 'dict_stu2' is not defined

In [58]:
# 29. Copy a dictionary into a new dictionary and modify the copy.
dict_stu_copy=dict_stu.copy()
print(dict_stu_copy)
dict_stu_copy["ajay"]=95
print("Original Dictionary:",dict_stu)
print("Modified Copy:",dict_stu_copy)

{'ajay': 89, 'jay': 78, 'vijay': 56, 'sanjay': 45, 'yash': 90, 'rahul': 75, 'deepak': 85}
Original Dictionary: {'ajay': 89, 'jay': 78, 'vijay': 56, 'sanjay': 45, 'yash': 90, 'rahul': 75, 'deepak': 85}
Modified Copy: {'ajay': 95, 'jay': 78, 'vijay': 56, 'sanjay': 45, 'yash': 90, 'rahul': 75, 'deepak': 85}

In [60]:
# 30. Create a dictionary where keys are numbers 1-5 and values are their squares.
dict_squares={}
for i in range(1,6):
    dict_squares[i]=i**2
print(dict_squares)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}