1] Create  a set of containing five different country names

In [2]:
coutry={"India","Japan","America","Australia","UK"}

In [3]:
coutry={"India","UK","India","Japan","America","Australia","UK"}
print(coutry)

{'Australia', 'America', 'India', 'Japan', 'UK'}

In [6]:
fruits={"Mango","Apple","Banana","Orange","Grapes","Apple"}
fruit_set=set(fruits)
print(fruit_set)

{'Orange', 'Banana', 'Apple', 'Mango', 'Grapes'}

In [7]:
fruit_set.add("fig")
print(fruit_set)

{'Orange', 'Banana', 'Apple', 'fig', 'Mango', 'Grapes'}

In [8]:
fruit_set.update(["kiwi","pear"])
print(fruit_set)

{'Orange', 'Banana', 'Apple', 'pear', 'fig', 'kiwi', 'Mango', 'Grapes'}

In [9]:
fruit_set.add("kiwi")
print(fruit_set)

{'Orange', 'Banana', 'Apple', 'pear', 'fig', 'kiwi', 'Mango', 'Grapes'}

In [8]:
fruit_set.remove("Banana")
print(fruit_set)

{'Orange', 'fig', 'Grapes', 'kiwi', 'pear', 'Mango', 'Apple'}

In [ ]:
fruit_set.discard("watermelon")
print(fruit_set)

{'fig', 'pear', 'Apple', 'Orange', 'kiwi', 'Grapes', 'Mango'}

In [19]:
ele=fruit_set.pop()
print("Popped element:", ele)
print(fruit_set)

Popped element: fig
{'pear', 'Apple', 'Orange', 'kiwi', 'Grapes', 'Mango'}

In [20]:
fruit_set.clear()
print(fruit_set)

set()

In [ ]:
num1={1,2,4}
num2={5,6,1,7}
print(num1.union(num2))

{1, 2, 3, 4, 5, 6, 7}

In [26]:
num1={1,2,4}
num2={5,6,1,7}
print(num1-(num2))

{2, 4}

In [28]:
num1={1,2,4}
num2={5,6,1,7}
print(num1&(num2))

{1}

In [29]:
num1={1,2,4}
num2={5,6,1,7}
print(num1^(num2))

{2, 4, 5, 6, 7}

In [30]:
num3={1,2}
print(num3.issubset(num1))

True

In [31]:
nums4={8,9}
print(nums4.isdisjoint(num1))

True

In [32]:
print(1 in num1)

True

In [33]:
print(1 not in num1)

False

In [35]:
print(max(num1))

4

In [36]:
print(min(num1))

1

In [37]:
print(len(num1))

3

In [38]:
print(sum(num1))

7

In [39]:
print(sorted(num1))

[1, 2, 4]

In [40]:
print(sorted(num1,reverse=True))

[4, 2, 1]

In [44]:
num1={1,0,1,0}
print(any(num1))

True

In [47]:
num2={1,1}

In [49]:
print(all(num2))

True

In [54]:
set1 = num1.copy()
print("this is the set1",set1)
print("this is num1", num1)

this is the set1 {0, 1}
this is num1 {0, 1}

In [55]:
del set1
print(set1)  # This will raise an error since set1 is deleted

NameError: name 'set1' is not defined

In [57]:
lsit=[1,2,1,2,1,3,1]
set1=set(lsit)
print("list",lsit)
print("set",set1)

list [1, 2, 1, 2, 1, 3, 1]
set {1, 2, 3}

In [58]:
classA={"yash","ajay","asha"}

classB={"yash","raj"}

In [59]:
print(classA & classB)

{'yash'}

In [60]:
print(classA -classB)

{'ajay', 'asha'}

In [61]:
print(classA ^classB)

{'ajay', 'raj', 'asha'}