1. Create a tuple named fruits containing five fruit names and print it

In [4]:
fruits=("apple","banana","orange","grape","mango")
print(fruits)

('apple', 'banana', 'orange', 'grape', 'mango')

Create a tuple with mixed data types (string, integer, float, boolean) and display each element using indexing.

In [5]:
tpl1=(1,0.1,"hello",True)
print(tpl1[0:4])
for i in tpl1:
    print(i)

(1, 0.1, 'hello', True)
1
0.1
hello
True

3. Create a nested tuple that stores a country name and its states as another tuple.

In [6]:
india=("Delhi","Mumbai","Bangalore")
usa=("New York")
china=("Beijing")
japan=("Tokyo")
country=(india,usa,china,japan)
print(country)

(('Delhi', 'Mumbai', 'Bangalore'), 'New York', 'Beijing', 'Tokyo')

6. Use len() to find the number of elements in a tuple named students.

In [7]:
print(len(tpl1))

4

7. Use max() and min() to find the highest and lowest marks from a tuple of integers.

In [8]:
num=(10,20,30,40,50)
print(max(num))
print(min(num))

50
10

8. Use sum() to calculate the total sales from a tuple of daily sales data.

In [9]:
print(sum(num))

150

9. Sort a tuple of numbers in ascending order using sorted() and convert it back to a tuple

In [10]:
print(tuple(sorted(num)))

(10, 20, 30, 40, 50)

10. Sort a tuple of numbers in descending order using sorted() with reverse=True.

In [11]:
print(tuple(sorted(num, reverse=True)))

(50, 40, 30, 20, 10)

11. Count how many times a specific value appears in a tuple using the count() method.

In [12]:
print(fruits.count("apple"))

1

12. Find the index of a specific element in a tuple using the index() method.

In [13]:
print(fruits.index("orange"))

2

13. Check if "Python" is present in a tuple using the in keyword.

In [14]:
print("pyhton" in tpl1)

False

14. Check if "C++" is not present in a tuple using the not in keyword.

In [15]:
print("c++" not in tpl1)

True

In [16]:
num=tuple(range(1,11))
print(num)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

Use any() on a tuple of boolean values to check if at least one element is True

In [17]:
tup1=(True,False,True,False,True)
print(any(tup1))

True

17. Use all() on a tuple of boolean values to check if all elements are True.

In [18]:
print(all(tup1))

False

18. Concatenate two tuples representing first names and last names.

In [19]:
first_name=("yash","harshal")
last_name=("bora","mahajan")
full_name=zip(first_name,last_name)
print(tuple(full_name))

(('yash', 'bora'), ('harshal', 'mahajan'))

19. Repeat a tuple containing ("AI", "ML") three times using the * operator.

In [20]:
tup2=("AL","ML")
print(tup2*3)

('AL', 'ML', 'AL', 'ML', 'AL', 'ML')

20. Combine two tuples (names and scores) using zip() and convert the result into a tuple.

In [21]:
scores=(85,90)
data=zip(first_name,scores)
print(tuple(data))

(('yash', 85), ('harshal', 90))

21. Reverse a tuple using the reversed() function and convert it back to a tuple.

In [22]:
rev=reversed(num)
print(tuple(rev))

(10, 9, 8, 7, 6, 5, 4, 3, 2, 1)

22. Find the alphabetically first and last element in a tuple of strings using min() and max().

In [23]:
print(min(first_name))
print(max(first_name))

harshal
yash

23. Unpack a tuple of three elements into three separate variables and print them.

In [24]:
tuple1=(10,20,30)
a,b,c=tuple1
print(a,b,c)

10 20 30

24. Create a tuple and demonstrate immutability by trying to modify an element (observe the error).

In [25]:
num[2]=100

TypeError: 'tuple' object does not support item assignment

25. Compare the memory size of a list and a tuple containing the same elements using sys.getsizeof().

In [26]:
import sys
list1=[1,2,3]
if sys.getsizeof(list1)>sys.getsizeof(tuple(list1)):

    print("Tuple")
else:
    print("List")

Tuple

26. Create a tuple of 10 numbers and calculate the average using sum() and len()

In [28]:
print(sum(num)/len(num))

5.5

27. Create a tuple of city names and print them in reverse order using slicing.

In [62]:
print(india[::-1])

('Bangalore', 'Mumbai', 'Delhi')

28. Convert a tuple of numbers into a list, append a new number, and convert it back into a tuple.

In [63]:
tuple1=(10,20,30,40,50)
list1=list(tuple1)
list1.append(60)
tuple1=tuple(list1)
print(tuple1)

(10, 20, 30, 40, 50, 60)

29. Create a tuple of employee details (Name, Age, Department) and use unpacking to print each value separately.

In [67]:
deatails=("Yash",21,"it")
name,age,branch=deatails
print(name,age,branch)

Yash 21 it

30. Create two tuples  (product_name, price)  and combine them using zip(), then display them sorted by price in descending order.

In [69]:
pro_name=("laptop","mouse","keyboard")
pro_price=(50000,500,1500)
products=tuple(zip(pro_name,pro_price))
print(sorted(products, key=lambda x:x[1],reverse=True))

[('laptop', 50000), ('keyboard', 1500), ('mouse', 500)]